.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgb(253, 253, 253);
    background-image: linear-gradient(79deg, #e4b283, #D9C9BA 48%, #83dae9);
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form-container {
    margin-left: 600px;
    margin-right: 620px;
    margin-bottom: 50px;
    margin-top: 50px;
    
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  label{
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px
  }
  
  button{
    border: none;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db
  }
  
  .link-btn{
    background-color: none;
    color: white;
    text-decoration: underline; 
  }
  
  a{
    margin-top: 20px;
    text-decoration-line: underline;
    color: white;
    
  }
  
  